<p>The Ottawa Street Health Collective is located on the upper floor of 327 Ottawa St. N - a building that houses several street level retail storefronts.  The door to the office level is located right between Sola Flowers and the entrance to Antiques Avenue.  If you are coming outside of regular business hours and/or find the door locked, please get in touch with your healthcare provider.</p>

<div id="mapid"></div>
<script>
 var map = L.map('mapid');
 var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
 var osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
 var osm = new L.TileLayer(osmUrl, {minZoom: 12, attribution: osmAttrib});
 map.setView(new L.LatLng(43.25109, -79.81670),19);
 map.addLayer(osm);
</script>

<p class="mt-4">For inquiries about specific services or to book an appointment, please contact <a href="index.html">your practitioner</a> directly.  For all other inquiries you can email us at hello@ottawastreethealth.com</p>
