<p>The Ottawa Street Health Collective is still open, but that doesn’t mean that we’re not thinking about COVID-19.  Like many others who work in integrative health, we are actively working to do everything we can to protect client health and mitigate risk. We are listening carefully to public health recommendations, and will respond to new developments and best practices as they arise.  We encourage you to have an open conversation with your practitioner about the specific protocols they are following to protect your health. Some of the steps we are taking include:</p>
<ul>
    <li>Asking anyone who is ill, or who is asymptomatic but lives with someone experiencing respiratory symptoms to stay home.  Many of our practitioners have suspended or made significant modifications to their late cancellation policies to encourage this.</li>
    <li>Offering distance options (phone or video) for counselling / psychotherapy and naturopathic appointments.</li>
    <li>Wearing masks and having masks available to clients for massage and osteopathy appointments on request.</li>
    <li>Being extra vigilant with our already extensive sanitization practices</li>
</ul>

<p>Please don’t hesitate to ask if you have any questions or concerns! </p>



