<h2>FAQ</h2>

<dt>Where are you located?</dt>

<dd>You can find us at 327 Ottawa St. N in Hamilton. Please see our Contact Us page for detailed directions.</dd>

<dt>What are your hours?</dt>

<dd>Each of our independent healthcare practitioners keep their own hours. Please contact them directly to find out more.</dd>

<dt>Do I need an appointment?</dt>

<dd>Yes, all of our services are by appointment only. Please contact your practitioner directly to learn more.</dd>

<dt>Are you covered by OHIP?</dt>

<dd>None of our providers are covered by OHIP. Many of our services are, however,  covered by extended healthcare benefits. </dd>

<dt>How much do your services cost?</dt>

<dd>Each of our healthcare practitioners have their own fee schedule. Consult their individual websites or speak with them directly to learn more.</dd>

