<div class="jumbotron mt-3 pt-3 pb-1 px-5">
  <p class="lead">Ottawa Street Health Collective is a group of independent healthcare providers connected by a common workspace and shared values.  Our aim is to provide our Hamilton community with  welcoming, professional, non-judgmental access to integrative healthcare. Our areas of practice include Registered Massage Therapy, Naturopathic Care, Osteopathy, Clinical Social Work, Individual Psychotherapy, Child and Family Therapy, Manual Therapy, and movement classes. </p>
</div>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="img/lila-logo.png" alt="Lila Knighton counselling" />
        <a href="http://lilaknighton.com" class="stretched-link"></a>
    </div>
    <div class="card">
        <img class="card-img-top" src="img/aloft-logo.jpg" alt="Aloft RMT" />
        <a href="http://aloftrmt.com" class="stretched-link"></a>
    </div>
    <div class="card">
        <img class="card-img-top" src="img/pwyc-logo.png" alt="Pay What You Can Therapy" />
        <a href="/pwyc.html" class="stretched-link"></a>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="img/cy-logo.png" alt="Caitlin Young" />
        <a href="https://www.caitlynyoung.com" class="stretched-link"></a>
    </div>
    <div class="card">
        <img class="card-img-top" src="img/katie-logo.png" alt="Katie Ritchie Therapy" />
        <a href="https://www.katieritchietherapy.com" class="stretched-link"></a>
    </div>
    <div class="card">
        <img class="card-img-top" src="img/shiatsu-logo.png" alt="Hamilton Shiatsu" />
        <a href="https://hamiltonshiatsu.com/" class="stretched-link"></a>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="img/brittani-logo.png" alt="Brittani Ali Psychotherapy" />
        <a href="https://www.brittaniali.com" class="stretched-link"></a>
    </div>
    <div class="card">
        <img class="card-img-top" src="img/ease-health-logo.png" alt="Ease Health" />
        <a href="https://easehealth.janeapp.com" class="stretched-link"></a>
    </div>
    <div class="card">
        <img class="card-img-top" src="img/shareen.jpg" alt="Shareen Rikhraj Counselling" />
        <a href="https://www.psychologytoday.com/ca/therapists/shareen-rikhraj-counselling-hamilton-on/1075432" class="stretched-link"></a>
    </div>    
</div>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="img/pcps.png" alt="Paper Crane Psychotherapy Services" />
        <a href="https://www.papercranetherapy.com/" class="stretched-link"></a>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/upside.png" alt="The Upside Practice" />
        <a href="https://www.theupsidepractice.com" class="stretched-link"></a>
    </div>
    <div class="card">
      <img class="card-img-top" src="img/jiselle-logo.png" alt="Jiselle Griffith" />
      <a href="https://www.jisellegriffith.ca/" class="stretched-link"></a>
    </div>
</div>
