<h2>Join Us</h2>
<p>Are you an integrative health practitioner in private practice who wants to work in a welcoming, inclusive, body positive space?  The Ottawa Street Health Collective has the following treatment spaces available to rent part-time:</p>

<ul>
  <li>Small yoga / movement studio</li>
  <li>Treatment room suitable for RMT, Physiotherapy, Shiatsu etc</li>
  <li>Counselling room - suitable for individual, couples, and family work.</li>
</ul>

<p>Contact hello@ottawastreethealth.com for more details.</p>
