<h2>P.W.Y.C. Therapy</h2>
<p>We believe that counselling and psychotherapy should be an option for everyone who would benefit from it, whether or not they have insurance that covers it, or income that makes it accessible.  Our pay what you can therapy program is one way that we are trying to make therapy more accessible to our community.  Therapy in this program is provided by supervised students of Master’s level counselling or psychotherapy programs and is run on a cost-recovery model, where fees paid to the program cover our overhead costs as well as for our supervision and administrative time.  </p>

<p>In this program, clients are matched with a student therapist who is working with us for an 8 month practicum period. They have the option to meet weekly or biweekly, depending on client preference and therapist availability. At the end of the student therapist’s term, clients who feel they would benefit from ongoing therapy have the option to get put back on our list to work with another student.</p> 

<p>This program is designed for uninsured clients, so fees are truly pay what you can. Typically clients pay $25-$60 dollars per session, but fees outside of this range are fine as well.  Please note that if you have insurance that covers counselling or psychotherapy provided by a registered social worker you can still access reduced rate student therapy, but not through our PWYC program. Please ask for more details. </p>

<p>Contact hello@ottawastreethealth.com for more information or to book a consultation. </p>


<p>Clinical Supervisors:</p>

<p>Lila Knighton MA, MSW, RSW</p>

<p>Brittani Ali MSW, RSW</p>
